<mat-form-field class="password-form-field">
    <mat-label>Enter your password</mat-label>
    <input matInput
        (input)="onPasswordChange()"
        [formControl]="passwordControl"
        [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button
        matSuffix
        (click)="onHideButtonClick()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>
        <password-strength-indicator [passwordAnnotation]="passwordAnnotation">
        </password-strength-indicator>
    </mat-hint>
</mat-form-field>