<mat-form-field class="password-form-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [formControl]="passwordControl" (input)="onPasswordChange()" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>
        <password-strength-indicator [passwordAnnotation]="passwordAnnotation">
        </password-strength-indicator>
    </mat-hint>
</mat-form-field>