.password-form-field {
    width: 600px;
}

.password-strength-container {
    display: flex;
    flex-direction: row;

    .password-strength {
        width: 50px;
        height: 15px;
        border: 1px solid #D3D3D3;
        background-color: #808080;
        border-radius: 25%;
    }

    .password-annotation {
        height: 15px;
        margin-left: 10px
    }
}