<mat-form-field class="password-form-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="password" (input)="checkPassword()" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint>
        <div class="password-strength-container">
            <div class="password-strength" [style.background]="passwordStrengthColor[0]"></div>
            <div class="password-strength" [style.background]="passwordStrengthColor[1]"></div>
            <div class="password-strength" [style.background]="passwordStrengthColor[2]"></div>
            <div class="password-annotation">{{passwordAnnotation}}</div>
        </div>
    </mat-hint>
</mat-form-field>